@import '../../styles/color.module.scss';

.loginContainer {
    width: 400px;
    height: 400px;
    padding: 30px;
    display: flex;
    flex-flow: wrap column;
    box-shadow: $box-shadow;
    background-color: white;
    border: 1px solid black;
    justify-content: space-between;
    
    .emailLogin{
        height: 60%;
        display: flex;
        font-size: 15px;
        font-weight: bold;
        flex-flow: wrap column;
        justify-content: space-between;
    }

    .divider {
        height: 2px;
        width: 100%;
        border: 1px solid black;
    }

    .signUp {
        font-size: 15px;
        text-align: right;
        font-weight: bold;
        color: $soft-green;
    }
}