@import '../../styles/color.module.scss';

.signupContainer {
    width: 400px;
    height: 400px;
    padding: 30px;
    display: flex;
    flex-flow: wrap column;
    box-shadow: $box-shadow;
    background-color: white;
    border: 1px solid black;
    justify-content: flex-start;
    
    .signupForm {
        height: 60%;
        display: flex;
        font-size: 15px;
        margin-top: 10%;
        font-weight: bold;
        flex-flow: wrap column;
        justify-content: space-between;
    }

    .login {
        font-size: 15px;
        text-align: right;
        font-weight: bold;
        color: $soft-green;
    }
}