.header {
    width: 100%;
    height: 60px;
    display: flex;
    color: white;
    line-height: 55px;
    flex-flow: wrap row;
    padding: 0 30px;
    background-color: black;
    justify-content: space-between;

    .dashboard {
        cursor: pointer;
    }
}